{% block sw_cms_element_special_opening_hours_config %}
    <div class="sw-cms-el-config-special-opening-hours">

        <!-- Display Settings in one row -->
        <div class="sw-cms-el-config-special-opening-hours__display-settings">
            <div class="sw-cms-el-config-special-opening-hours__display-settings__row">

                <div class="sw-cms-el-config-special-opening-hours__display-settings__column">
                    <sw-single-select
                        v-model="currentDisplayStyle"
                        :options="displayStyleOptions"
                        :label="$t('specialBlocks.openingHours.config.displayStyle.label')"
                        :placeholder="$t('specialBlocks.openingHours.config.displayStyle.placeholder')"
                        labelProperty="label"
                        valueProperty="value"
                        @change="onDisplayStyleChange">
                    </sw-single-select>
                </div>

                <div class="sw-cms-el-config-special-opening-hours__display-settings__column">
                    <label class="sw-cms-el-config-special-opening-hours__display-settings__checkbox-label">
                        {{ $t('specialBlocks.openingHours.config.showCurrentStatus.label') }}
                    </label>
                    <label class="sw-cms-el-config-special-opening-hours__display-settings__checkbox-wrapper">
                        <input
                            type="checkbox"
                            v-model="element.config.showCurrentStatus.value"
                            @change="onElementUpdate(element)">
                        Aktiviert
                    </label>
                </div>

                <div class="sw-cms-el-config-special-opening-hours__display-settings__column">
                    <sw-single-select
                        v-model="currentTimeFormat"
                        :options="timeFormatOptions"
                        :label="$t('specialBlocks.openingHours.config.timeFormat.label')"
                        :placeholder="$t('specialBlocks.openingHours.config.timeFormat.placeholder')"
                        labelProperty="label"
                        valueProperty="value"
                        @change="onTimeFormatChange">
                    </sw-single-select>
                </div>

            </div>
        </div>

        <!-- Weekly Schedule Configuration -->
        <div class="sw-cms-el-config-special-opening-hours__schedule-section">
            <h4>{{ $t('specialBlocks.openingHours.config.weeklySchedule') }}</h4>

            <div
                v-for="day in days"
                :key="day"
                class="sw-cms-el-config-special-opening-hours__day-config">

                <div class="sw-cms-el-config-special-opening-hours__day-header">
                    <h5>{{ $t('specialBlocks.openingHours.config.days.' + day) }}</h5>
                    <label class="sw-cms-el-config-special-opening-hours__day-header__checkbox">
                        <input
                            type="checkbox"
                            :checked="!isDayClosed(day)"
                            @change="toggleDayClosed(day)">
                        {{ $t('specialBlocks.openingHours.config.open') }}
                    </label>
                </div>

                <div
                    v-if="!isDayClosed(day)"
                    class="sw-cms-el-config-special-opening-hours__day-times">

                    <!-- Morning and Afternoon Hours in one row -->
                    <div class="sw-cms-el-config-special-opening-hours__day-times__row">

                        <!-- Morning Hours -->
                        <div class="sw-cms-el-config-special-opening-hours__day-times__column sw-cms-el-config-special-opening-hours__time-period">
                            <label class="sw-cms-el-config-special-opening-hours__period-label">
                                {{ $t('specialBlocks.openingHours.config.periods.morning') }}
                            </label>
                            <div class="sw-cms-el-config-special-opening-hours__time-inputs">
                                <input
                                    type="time"
                                    :value="element.config[day + '_morning_open'].value"
                                    @input="updateTime(day, 'morning', 'open', $event.target.value)">
                                <span>{{ $t('specialBlocks.openingHours.config.timeTo') }}</span>
                                <input
                                    type="time"
                                    :value="element.config[day + '_morning_close'].value"
                                    @input="updateTime(day, 'morning', 'close', $event.target.value)">
                            </div>
                        </div>

                        <!-- Afternoon Hours -->
                        <div class="sw-cms-el-config-special-opening-hours__day-times__column sw-cms-el-config-special-opening-hours__time-period">
                            <label class="sw-cms-el-config-special-opening-hours__period-label">
                                {{ $t('specialBlocks.openingHours.config.periods.afternoon') }}
                            </label>
                            <div class="sw-cms-el-config-special-opening-hours__time-inputs">
                                <input
                                    type="time"
                                    :value="element.config[day + '_afternoon_open'].value"
                                    @input="updateTime(day, 'afternoon', 'open', $event.target.value)">
                                <span>{{ $t('specialBlocks.openingHours.config.timeTo') }}</span>
                                <input
                                    type="time"
                                    :value="element.config[day + '_afternoon_close'].value"
                                    @input="updateTime(day, 'afternoon', 'close', $event.target.value)">
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    v-else
                    class="sw-cms-el-config-special-opening-hours__day-closed">
                    <span class="sw-cms-el-config-special-opening-hours__closed-label">
                        {{ $t('specialBlocks.openingHours.config.closed') }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}