{% block sw_cms_element_special_code %}
    <div class="sw-cms-el-special-code">
        <div class="code-preview">
            <div class="preview-icon">
                <sw-icon name="regular-code" size="48"></sw-icon>
            </div>
            <div class="preview-text">
                <p><strong>HTML/Twig Code Element</strong></p>
                <p class="preview-code">{{ displayCode }}</p>
            </div>
        </div>
    </div>
{% endblock %}
