{% block sw_cms_element_special_twig_code_preview %}
  <div class="sw-cms-el-preview-special-twig-code">
    <div class="sw-cms-el-preview-special-twig-code__icon">
      <sw-icon name="regular-code"></sw-icon>
    </div>
    <div class="sw-cms-el-preview-special-twig-code__label">
      {{ $tc('specialBlocks.twigCode.label') }}
    </div>
  </div>
{% endblock %}
